@import "tailwindcss";

:root {
    /* https://www.color-hex.com/color-palette/19601 */
    --color-dark: #373b3e;
    --color-light: #bec8d1;
    --color-teal: #86cecb;
    --color-deep: #137a7f;
    --color-pink: #e12885;

    --color-background: var(--color-deep);
    --color-foreground: var(--color-light);
    --color-primary: var(--color-teal);
    --color-secondary: var(--color-pink);
    --color-border: var(--color-dark);
}
